
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap%27');

*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #fdfdfd;
}

/*navbar*/
nav{
width: 80vw;
height: 4vw;
}

    /*input*/
.form-control{
    width: 15vw;
    height: 2.5vw;
    align-self: center;
    border-radius: 8px;
    border: #E5E5E5 solid;
    
}

.Searchinput{
    align-self: center;
    border: none;
    width:90%;
    
}

   /*icone*/
   .notif{ 
    align-self: center;
    margin-left: 12px;
    align-items: flex-end;
    
}

    


 

/*sidebar*/

.btns{
    width: 11vw;
    height: 20vw;
}

.flex-shrink-0 {
    display: flex;
    width: 20vw;
    height: 100vh;
    background-color: #FAFFC1;
    align-items: center;
}

/*icones*/

.bu0{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.4vw;
    margin-bottom: 1vw;
    background: #00C1FE;
    border-radius: 0.2vw;
    border: none;
    outline: none;
    font-size: 0.7vw;
}

.bu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.4vw;
    margin-bottom: 1vw;
    /*background: #00C1FE;*/
    background-color: transparent;
    border-radius: 0.2vw;
    border: none;
    outline: none;
    font-size: 0.7vw;
}

.buttons :hover{
     background-color: #00C1FE;
 }

.buLogout{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.4vw;
    margin-bottom: 1vw;
   /* background: #00C1FE;*/
    background-color: transparent;
    border-radius: 0.2vw;
    border: none;
    outline: none;
    font-size: 0.7vw;
}


.center{
    width: 2vw;
    font-size: 1vw;
}

.center0{
    width: 3.4vw;
    font-size: 1vw;
}

.icons{
    max-width: 0.66vw;
    margin: 0px;
}

.logicon{
    margin-left: 2vw;
    width: 2vw;
    font-size: 1vw;
}

/*Card*/



.card .nbr{
    font-size: 2vw;
    text-align: end;
    align-self: flex-end;
}

.card span{
    font-size: 1vw;
}

/*students tableau*/

.tabtitle{
    font-size: 25px;
}

.addns{
    font-size: 15px;
    padding: 1vw;
}

tbody tr{
    background-color: white;
    border-radius: 8px;
    
}










